# packages in environment at /storage2/scratch/kosmopoulos/miniconda3/envs/CheckAMG:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                 conda_forge    conda-forge
_openmp_mutex             4.5                       2_gnu    conda-forge
appdirs                   1.4.4                    pypi_0    pypi
archspec                  0.2.5                    pypi_0    pypi
argparse-dataclass        2.0.0                    pypi_0    pypi
attrs                     25.3.0                   pypi_0    pypi
bzip2                     1.0.8                h4bc722e_7    conda-forge
ca-certificates           2025.6.15            hbd8a1cb_0    conda-forge
certifi                   2025.6.15                pypi_0    pypi
charset-normalizer        3.4.2                    pypi_0    pypi
conda-inject              1.3.2                    pypi_0    pypi
configargparse            1.7.1                    pypi_0    pypi
connection-pool           0.0.3                    pypi_0    pypi
datrie                    0.8.2                    pypi_0    pypi
docutils                  0.21.2                   pypi_0    pypi
dpath                     2.2.0                    pypi_0    pypi
fastjsonschema            2.21.1                   pypi_0    pypi
gitdb                     4.0.12                   pypi_0    pypi
gitpython                 3.1.44                   pypi_0    pypi
humanfriendly             10.0                     pypi_0    pypi
idna                      3.10                     pypi_0    pypi
immutables                0.21                     pypi_0    pypi
jinja2                    3.1.6                    pypi_0    pypi
jsonschema                4.24.0                   pypi_0    pypi
jsonschema-specifications 2025.4.1                 pypi_0    pypi
jupyter-core              5.8.1                    pypi_0    pypi
ld_impl_linux-64          2.43                 h1423503_5    conda-forge
libexpat                  2.7.0                h5888daf_0    conda-forge
libffi                    3.4.6                h2dba641_1    conda-forge
libgcc                    15.1.0               h767d61c_2    conda-forge
libgcc-ng                 15.1.0               h69a702a_2    conda-forge
libgomp                   15.1.0               h767d61c_2    conda-forge
liblzma                   5.8.1                hb9d3cd8_2    conda-forge
liblzma-devel             5.8.1                hb9d3cd8_2    conda-forge
libnsl                    2.0.1                hd590300_0    conda-forge
libsqlite                 3.50.1               hee588c1_0    conda-forge
libuuid                   2.38.1               h0b41bf4_0    conda-forge
libzlib                   1.3.1                hb9d3cd8_2    conda-forge
llvmlite                  0.44.0                   pypi_0    pypi
markupsafe                3.0.2                    pypi_0    pypi
metapyrodigal             1.4.1                    pypi_0    pypi
more-itertools            10.7.0                   pypi_0    pypi
nbformat                  5.10.4                   pypi_0    pypi
ncurses                   6.5                  h2d0b736_3    conda-forge
numba                     0.61.2                   pypi_0    pypi
numpy                     2.2.6                    pypi_0    pypi
openssl                   3.5.0                h7b32b05_1    conda-forge
packaging                 25.0                     pypi_0    pypi
pip                       25.1.1             pyh8b19718_0    conda-forge
plac                      1.4.5                    pypi_0    pypi
platformdirs              4.3.8                    pypi_0    pypi
polars-u64-idx            1.30.0                   pypi_0    pypi
psutil                    7.0.0                    pypi_0    pypi
pulp                      2.9.0                    pypi_0    pypi
pyfastatools              2.5.0                    pypi_0    pypi
pyhmmer                   0.11.1                   pypi_0    pypi
pyrodigal                 3.5.2                    pypi_0    pypi
pyrodigal-gv              0.3.2                    pypi_0    pypi
python                    3.11.3          h2755cc3_0_cpython    conda-forge
pyyaml                    6.0.2                    pypi_0    pypi
readline                  8.2                  h8c095d6_2    conda-forge
referencing               0.36.2                   pypi_0    pypi
requests                  2.32.4                   pypi_0    pypi
reretry                   0.11.8                   pypi_0    pypi
rpds-py                   0.25.1                   pypi_0    pypi
setuptools                80.9.0             pyhff2d567_0    conda-forge
smart-open                7.1.0                    pypi_0    pypi
smmap                     5.0.2                    pypi_0    pypi
snakemake                 8.23.2                   pypi_0    pypi
snakemake-interface-common 1.18.0                   pypi_0    pypi
snakemake-interface-executor-plugins 9.3.5                    pypi_0    pypi
snakemake-interface-logger-plugins 1.2.3                    pypi_0    pypi
snakemake-interface-report-plugins 1.1.0                    pypi_0    pypi
snakemake-interface-storage-plugins 3.5.0                    pypi_0    pypi
tabulate                  0.9.0                    pypi_0    pypi
throttler                 1.2.2                    pypi_0    pypi
tk                        8.6.13          noxft_hd72426e_102    conda-forge
tqdm                      4.67.1                   pypi_0    pypi
traitlets                 5.14.3                   pypi_0    pypi
typing-extensions         4.14.0                   pypi_0    pypi
tzdata                    2025b                h78e105d_0    conda-forge
urllib3                   2.4.0                    pypi_0    pypi
wheel                     0.45.1             pyhd8ed1ab_1    conda-forge
wrapt                     1.17.2                   pypi_0    pypi
xz                        5.8.1                hbcc6ac9_2    conda-forge
xz-gpl-tools              5.8.1                hbcc6ac9_2    conda-forge
xz-tools                  5.8.1                hb9d3cd8_2    conda-forge
yte                       1.8.1                    pypi_0    pypi
